<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cabbage.torrent.dao.SearchLogMapper">
    <resultMap id="BaseResultMap" type="org.cabbage.torrent.entity.SearchLog">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="keyword" jdbcType="VARCHAR" property="keyword"/>
        <result column="ip" jdbcType="CHAR" property="ip"/>
        <result column="ctime" jdbcType="TIMESTAMP" property="ctime"/>
        <result column="mtime" jdbcType="TIMESTAMP" property="mtime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, keyword, ip, ctime, mtime
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from search_log
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from search_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="org.cabbage.torrent.entity.SearchLog">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into search_log (id, keyword, ip,
        ctime, mtime)
        values (#{id,jdbcType=INTEGER}, #{keyword,jdbcType=VARCHAR}, #{ip,jdbcType=CHAR},
        #{ctime,jdbcType=TIMESTAMP}, #{mtime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="org.cabbage.torrent.entity.SearchLog">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into search_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="keyword != null">
                keyword,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="ctime != null">
                ctime,
            </if>
            <if test="mtime != null">
                mtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="keyword != null">
                #{keyword,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=CHAR},
            </if>
            <if test="ctime != null">
                #{ctime,jdbcType=TIMESTAMP},
            </if>
            <if test="mtime != null">
                #{mtime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.cabbage.torrent.entity.SearchLog">
        update search_log
        <set>
            <if test="keyword != null">
                keyword = #{keyword,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=CHAR},
            </if>
            <if test="ctime != null">
                ctime = #{ctime,jdbcType=TIMESTAMP},
            </if>
            <if test="mtime != null">
                mtime = #{mtime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.cabbage.torrent.entity.SearchLog">
    update search_log
    set keyword = #{keyword,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=CHAR},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      mtime = #{mtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>